In [786]:
import pandas as pd

In [787]:
df = pd.read_csv("./training_data_lowercase.csv", delimiter='\t', header=None, names=['label', 'text'])

In [788]:
df.head()

   label                                               text
0      0  donald trump sends out embarrassing new year‚s...
1      0  drunk bragging trump staffer started russian c...
2      0  sheriff david clarke becomes an internet joke ...
3      0  trump is so obsessed he even has obama‚s name ...
4      0  pope francis just called out donald trump duri...

In [789]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

In [790]:
print(X_test.head())
print()
print(y_test.head())

18499     release of house tax bill delayed until thursday
24785    confusion over trump's first talks with foreig...
27282    obama says chinese-led trade deal shows need f...
6151            former pastor turned teacher beat students
16785    breaking: south carolina senate caves: votes t...
Name: text, dtype: object

18499    1
24785    1
27282    1
6151     0
16785    0
Name: label, dtype: int64

In [791]:
X_train.head()

8891                                                    so
25115    final reckoning approaches for obama's high co...
26933    illinois budget talks fizzle amid partisan ent...
26971    clinton spokesman: ig report shows no clinton ...
11387    busted! nancy pelosi claims no meeting with ru...
Name: text, dtype: object

In [792]:
df['X_train'] = X_train
df['y_train'] = y_train

test_df = df.copy()
test_df['X_test'] = X_test
test_df['y_test'] = y_test

In [793]:
test_df.head()

,label,text,X_train,y_train,X_test,y_test
0,0,donald trump sends out embarrassing new year‚s...,NaN,NaN,donald trump sends out embarrassing new year‚s...,0.0
1,0,drunk bragging trump staffer started russian c...,drunk bragging trump staffer started russian c...,0.0,NaN,NaN
2,0,sheriff david clarke becomes an internet joke ...,sheriff david clarke becomes an internet joke ...,0.0,NaN,NaN
3,0,trump is so obsessed he even has obama‚s name ...,trump is so obsessed he even has obama‚s name ...,0.0,NaN,NaN
4,0,pope francis just called out donald trump duri...,NaN,NaN,pope francis just called out donald trump duri...,0.0

In [794]:
df.head()

,label,text,X_train,y_train
0,0,donald trump sends out embarrassing new year‚s...,NaN,NaN
1,0,drunk bragging trump staffer started russian c...,drunk bragging trump staffer started russian c...,0.0
2,0,sheriff david clarke becomes an internet joke ...,sheriff david clarke becomes an internet joke ...,0.0
3,0,trump is so obsessed he even has obama‚s name ...,trump is so obsessed he even has obama‚s name ...,0.0
4,0,pope francis just called out donald trump duri...,NaN,NaN

In [795]:
test_df = test_df.drop(columns=['label', 'text', 'X_train', 'y_train'])

In [796]:
test_df.head()

                                              X_test  y_test
0  donald trump sends out embarrassing new year‚s...     0.0
1                                                NaN     NaN
2                                                NaN     NaN
3                                                NaN     NaN
4  pope francis just called out donald trump duri...     0.0

In [797]:
test_df = test_df.dropna(subset=['X_test', 'y_test'])

In [798]:
test_df.head()

                                              X_test  y_test
0  donald trump sends out embarrassing new year‚s...     0.0
4  pope francis just called out donald trump duri...     0.0
6                          fresh off the golf course     0.0
7  trump said some insanely racist stuff inside t...     0.0
8   former cia director slams trump over un bullying     0.0

## Data preprocessing

In [799]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/ankita/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [800]:
# tokenization
from nltk.tokenize import word_tokenize

def tokanize_data(sentence):
    if isinstance(sentence, str):
        words = word_tokenize(sentence)
        return ' '.join(words)
    else:
        return ''

In [801]:
# remove punctuation
# remove special character
# remove numbers
# remove single character
# remove single character from start
# Substitute multiple spaces with a single space
# Remove prefixed 'b'
import string
import re

def clean_text(sentence):
    clean_text = sentence.translate(str.maketrans('','', string.punctuation))
    cleaned_text = re.sub(r'[^\w\s]', '', clean_text)
    cleaned_text = re.sub(r'\d+', '', cleaned_text)
    cleaned_text = re.sub(r'\b\w{1}\b', '', cleaned_text)
    cleaned_text = re.sub(r'^\s*\w{1}\s*', '', cleaned_text)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    cleaned_text = re.sub(r'^b\s*', '', cleaned_text)
    return clean_text

In [802]:
# remove stopwords
nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ankita/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [803]:
def remove_stopwords(sentence):
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(sentence)
    cleaned_text = ' '.join(word for word in words if word not in stop_words)
    return cleaned_text

In [804]:
# lemmatization
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /Users/ankita/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/ankita/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [805]:
lemmatizer = WordNetLemmatizer()

def apply_lemmatization(sentence):
    words = word_tokenize(sentence)
    lemmatized_words = [lemmatizer.lemmatize(word, pos='v') for word in words]
    cleaned_text = ' '.join(lemmatized_words)
    return cleaned_text

In [806]:
# keep only 2 columns to avoid confusion
df = df[['X_train', 'y_train']]

In [807]:
def preprocess_text(df, column):
    df[column] = df[column].apply(tokanize_data)
    df[column] = df[column].apply(clean_text)
    df[column] = df[column].apply(remove_stopwords)
    df[column] = df[column].apply(apply_lemmatization)
    return df

In [808]:
df = preprocess_text(df, 'X_train')

In [809]:
df.head()

                                             X_train  y_train
0                                                         NaN
1  drink brag trump staffer start russian collusi...      0.0
2  sheriff david clarke become internet joke thre...      0.0
3   trump obsess even obama‚s name cod website image      0.0
4                                                         NaN

## Feature extraction

In [810]:
print("Number of NaN values in y:", df['y_train'].isna().sum())

Number of NaN values in y: 6831

In [811]:
df = df.dropna(subset=['y_train'])

In [812]:
# using TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

tfidf_vectorizer = TfidfVectorizer()

tfidf_matrix = tfidf_vectorizer.fit_transform(df['X_train'])
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

In [813]:
tfidf_df.head()

,00,0149,02,025,0330,0930,10,100,1000,10000,...,zuckerberg,zulia,zuma,zummar,zurich,éblacklivesmatter,îfor,îing,îpence,øqu
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Model training

In [814]:
# using logistic regression
from sklearn.linear_model import LogisticRegression

In [815]:
X = tfidf_df
y = df['y_train']

print(X.head())
print()
print(y.head())

    00  0149   02  025  0330  0930   10  100  1000  10000  ...  zuckerberg  \
0  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0   0.0    0.0  ...         0.0
1  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0   0.0    0.0  ...         0.0
2  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0   0.0    0.0  ...         0.0
3  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0   0.0    0.0  ...         0.0
4  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0   0.0    0.0  ...         0.0

   zulia  zuma  zummar  zurich  éblacklivesmatter  îfor  îing  îpence  øqu
0    0.0   0.0     0.0     0.0                0.0   0.0   0.0     0.0  0.0
1    0.0   0.0     0.0     0.0                0.0   0.0   0.0     0.0  0.0
2    0.0   0.0     0.0     0.0                0.0   0.0   0.0     0.0  0.0
3    0.0   0.0     0.0     0.0                0.0   0.0   0.0     0.0  0.0
4    0.0   0.0     0.0     0.0                0.0   0.0   0.0     0.0  0.0

[5 rows x 15626 columns]

1    0.0
2    0.0
3    0.0
5    0.0
9    0.0
Name: y_train, dtype: float64

In [816]:
data_train, data_test, label_train, label_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [817]:
model = LogisticRegression(max_iter=1000)
model.fit(data_train,label_train)

LogisticRegression(max_iter=1000)

In [818]:
y_pred = model.predict(data_test)

In [819]:
from sklearn.metrics import accuracy_score, classification_report

In [820]:
# Evaluate the model
print("Accuracy:", accuracy_score(label_test, y_pred))
print("Classification Report:\n", classification_report(label_test, y_pred))

Accuracy: 0.937419945105215
Classification Report:
               precision    recall  f1-score   support

         0.0       0.94      0.94      0.94      2821
         1.0       0.93      0.94      0.94      2644

    accuracy                           0.94      5465
   macro avg       0.94      0.94      0.94      5465
weighted avg       0.94      0.94      0.94      5465

In [821]:
# now predict X_test and y_test
# X_test y_test

In [822]:
test_df.head()

                                              X_test  y_test
0  donald trump sends out embarrassing new year‚s...     0.0
4  pope francis just called out donald trump duri...     0.0
6                          fresh off the golf course     0.0
7  trump said some insanely racist stuff inside t...     0.0
8   former cia director slams trump over un bullying     0.0

In [823]:
test_df = preprocess_text(test_df, 'X_test')

In [824]:
test_df.head()

                                              X_test  y_test
0  donald trump send embarrass new year‚s eve mes...     0.0
4    pope francis call donald trump christmas speech     0.0
6                                  fresh golf course     0.0
7  trump say insanely racist stuff inside oval of...     0.0
8            former cia director slam trump un bully     0.0

In [825]:
tfidf_new_matrix = tfidf_vectorizer.transform(test_df['X_test'])

In [826]:
tfidf_new_df = pd.DataFrame(tfidf_new_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

In [827]:
y_pred_new = model.predict(tfidf_new_df)

In [828]:
# Evaluate the model
print("Accuracy:", accuracy_score(test_df['y_test'], y_pred_new))
print("Classification Report:\n", classification_report(test_df['y_test'], y_pred_new))

Accuracy: 0.9329527155614112
Classification Report:
               precision    recall  f1-score   support

         0.0       0.94      0.93      0.93      3529
         1.0       0.92      0.94      0.93      3302

    accuracy                           0.93      6831
   macro avg       0.93      0.93      0.93      6831
weighted avg       0.93      0.93      0.93      6831

In [829]:
test_df['predicted_results'] = y_pred_new

In [830]:
test_df.head(50)

,X_test,y_test,predicted_results
0,donald trump send embarrass new year‚s eve mes...,0.0,0.0
4,pope francis call donald trump christmas speech,0.0,0.0
6,fresh golf course,0.0,1.0
7,trump say insanely racist stuff inside oval of...,0.0,0.0
8,former cia director slam trump un bully,0.0,0.0
17,mueller spokesman fcked donald trump‚s christmas,0.0,0.0
23,cnn call democrat represent alabama senate fir...,0.0,1.0
33,trump care trump recognize jerusalem today,0.0,0.0
34,trump support coal ceo upset trump wipe ‚thous...,0.0,1.0
46,break michael flynn crack ‚ testify mueller trump,0.0,0.0
52,americans elect president accuse rap 13yearold...,0.0,0.0
61,breitbart editor cnn host song ringo starr pro...,0.0,0.0
70,ivanka defend malia obama attack,0.0,0.0
75,fox news ban gene simmons life harass staff ca...,0.0,0.0
83,donald trump destroy country‚s reputation here...,0.0,0.0
92,corporate ceos shock trump‚s economic adviser ...,0.0,0.0
96,story trump tell press obama air force one nev...,0.0,0.0
99,trump laugh philippine leader call journalists...,0.0,1.0
100,joe biden wreck trump six word it‚s hilarious,0.0,0.0
119,trump‚s justice dept realize prosecute woman l...,0.0,0.0
121,trump openly call third world war video,0.0,0.0
130,russian lawyer drop bomb donald trump jr alleg...,0.0,0.0
139,gop lawmaker link abortion economy one bizarre...,0.0,0.0
144,mike pence get special gift office mail every ...,0.0,0.0
150,‚altright‚ white house reporter get fool fake ...,0.0,0.0
173,internet wreck tomi lahren halloween costume v...,0.0,0.0
176,twitter ban major trump ally threaten journali...,0.0,0.0
182,yet another asshole ram bunch protesters car v...,0.0,0.0
196,trump scream twitter see poll fox news,0.0,0.0
199,trump take credit release jfk file,0.0,0.0
200,bill maher take trump‚s lie chief staff bliste...,0.0,0.0
210,trump humiliate wh walk back attack soldier‚s ...,0.0,0.0
214,town defend official wife‚s ‚n gger‚ rant fb,0.0,0.0
216,man ‚i stand national anthem‚ shirt think amer...,0.0,0.0
217,‚me too‚ post flood social media,0.0,0.0
222,van jones scorch insane republican think‚s tru...,0.0,0.0
241,fox anchor chris wallace rip nra stooge new on...,0.0,0.0
243,one trump‚s ‚very fine people‚ extradite charl...,0.0,0.0
248,trump whine late night host make joke,0.0,0.0
250,internet collectively cringe photographer snap...,0.0,0.0
251,mike pence‚s photo op puerto rico survivors go...,0.0,0.0
263,antiabortion republican cheat try get mistress...,0.0,0.0
266,pat robertson say we‚d worship trump,0.0,0.0
267,trump puerto rico disgustingly tell puerto ric...,0.0,0.0
273,geraldo rivera san juan mayor carmen yul√≠n cr...,0.0,0.0
274,nra terrorist organization remain silent worst...,0.0,0.0
278,tea party superstar get wreck obama ‚n r‚ tweet,0.0,0.0
279,kamala harris take trump black church scathing...,0.0,0.0
280,nba kowtow racists,0.0,0.0
288,americans puerto rico die,0.0,1.0